<div style="height: 20px"></div>
<form>
    <div class="mx-auto" style="width: 150px">
        <label class="input_form">
          <input
            type="text"
            name="input_japanese"
            [(ngModel)]="inputJP"
            required
            placeholder="観光キーワードを入力"/>
        </label>
      </div>
</form>

<div style="height: 20px"></div>

<div class="row justify-content-center">
    <button (click)="getFacilities()" class="btn btn-info" style="width: 100px" >検索
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
  </button>
</div>

<div style="height: 20px"></div>

<div *ngIf=this.noFacilityMessageFlg>
  <div class="row justify-content-center">
    該当する宿泊施設がありません。
  </div>
</div>

<div *ngFor="let facility of facilities">
  <div class="card bg-info">
    <div class="card-body mx-auto">
      <div (click)="displayFacilityDetails(facility.facilityNo)" [routerLink]="['/facility-details']" class="facility-name row justify-content-center">
        {{facility.facilityName}}
      </div>
      <br>
      {{facility.facilityAddress}}
      <br>
      <div class="row justify-content-center">
        <button (click)="displayComments(facility.facilityNo)" [routerLink]="['/comments']" class="delete btn btn-success" style="width: 150px">クチコミ
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-dots" viewBox="0 0 16 16">
            <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
        </button>
      </div>          
    </div>
  </div>
  <br>
</div>


<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li *ngIf="this.currentIndex != 0" class="page-item"><a class="page-link" (click)="prevFacility()">前へ</a></li>
    <li *ngIf="this.nextPageFlg" class="page-item"><a class="page-link" (click)="nextFacility()">次へ</a></li>
  </ul>
</nav>
