<div style="height: 20px"></div>
<form>
    <div class="mx-auto" style="width: 200px">
        <label class="input_form">
          <input
            type="text"
            name="input_japanese"
            [(ngModel)]="inputJP"
            required
            placeholder="キーワードを入力(例:有馬)"/>
        </label>
      </div>
</form>

<div style="height: 20px"></div>

<div class="row justify-content-center">
    <button (click)="getFacilities()" class="btn btn-primary" style="width: 100px" >検索</button>
</div>

<div style="height: 20px"></div>

<div *ngFor="let facility of facilities">
  <div class="card bg-primary">
    <div class="card-body mx-auto">
      {{facility.facilityName}}
      <br>
      <div class="row justify-content-center">
        <button (click)="displayComments(facility.facilityNo)" [routerLink]="['/comments']" class="delete btn btn-success" style="width: 100px">クチコミ</button>
      </div>          
    </div>
  </div>
  <br>
