<div style="height: 20px"></div>
<form>
    <div class="mx-auto" style="width: 200px">
        <label class="input_form">
          <input
            type="text"
            name="input_japanese"
            [(ngModel)]="inputJP"
            required
            placeholder="キーワードを入力(例:有馬)"/>
        </label>
      </div>
</form>

<div style="height: 20px"></div>

<div class="row justify-content-center">
    <button (click)="getFacilities()" class="btn btn-primary" style="width: 100px" >検索</button>
</div>

<div style="height: 20px"></div>

<div class="container">
  <div class="row">
      <div class="card bg-info" style="width: 20rem;" *ngFor="let facility of facilities">
          <div class="card-body" >
          <h5 class="card-title"></h5>
              <p class="">{{facility.facilityName}}</p>
              <div class="text-center">
                <button class="btn btn-success" [routerLink]="['/comments']" (click)="displayComments(facility.facilityNo)">クチコミ</button>
            </div>
          </div>
      </div>
  </div>
</div>