.wrapper {
    position: relative;
    padding-bottom: 60px;
    box-sizing: border-box;
    min-height: 100vh;
}

.mat-fab {
    position:fixed;
    right:50px;
    bottom:50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%
}